
/* VARIABLE */
@import "./utils/variables";    

/* MIXINS  */
@import "./utils/mixins";   


html{
    
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

body {
    margin:0;
}
/* ----------------------------------------------------*/
/* Site title header                                   */
/* ----------------------------------------------------*/

.title-site{
    position:relative;
    display:flex;
    justify-content:center;
    margin-top: 15px;
    margin-bottom: 15px;
    // border: $border-debug;
}

/*
.title-site.margin {

     
}



.title-site img{
   // border: $border-debug;
    width:40%;
    margin-top: 25px;
    margin-bottom: 25px;
}
*/

/* ----------------------------------------------------*/
/* form section                                        */
/* ----------------------------------------------------*/


.form-OMF{
     text-align: center;
     padding-bottom: 80px;
    

   //  height: 45vh;
    background-color: rgba(233, 233, 233, 0.522);


    // ============
    // INPUT 
    // ============

    .search-ville{
        // border: $border-reddebug;
     
        width:100%;
         height: 60px;
        border-top: 2px solid rgba(128, 128, 128, 0.33);
        background-color: rgb(233, 233, 233);

       // ICON MAP MARKER 

       .my-map-marker {
           font-size: $fs-search-map-marker;
       }

       
         // INPUT 
        input{
          
           height: 100%;
           border: none;
          
           background-color: rgb(233, 233, 233);
          
            padding-left: 15px;
            font-size: $fs-search-input-txt;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: black;
                font-size: $fs-search-input-txt;
                opacity: 0.8;
                font-weight: 550;
            }
        }
    }

    // ============
    // FORM TEXTE 
    // ============
    .form-txt{
  
       
//  border: $border-debug;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;

      //   title  form 
        h2 {
           // border: $border-debug;
            padding-left: 40px;
            padding-right: 40px;   
            font-size: $fs-form-title;
            font-weight: bold;
        }
        //   text form
        p{
            padding-left: 25px;
            padding-right: 25px;
            font-size: $fs-form-txt;
            font-weight:lighter;

            // opacity: 0.6;
            margin-top: 15px;
           //  border: $border-reddebug;
        }
        
    }

    // Button 

    .btn-form{
        
        @include btn-OMF;
    }
}

/* ----------------------------------------------------*/
/* Functionalities section                             */
/* ----------------------------------------------------*/

.Functionalities{
  //   border: $border-reddebug;
    padding-top: 50px;
    padding-bottom: 50px; 

    h2{
        // width: 96%;
        padding:0 30px;
        margin:auto;
      //  border: $border-debug;
 
        font-weight: bolder;
        font-size: $fs-fonction-title;
       //  margin: 40px 0 30px 40px;
       margin-bottom: 30px;
    }

    .menu{
         // border: $border-debug;
       //  width: 96%;
       gap:30px;
       padding:0 30px;
        margin:auto;

        .menu-flex{
            position: relative;
            box-shadow: 1px 7px 15px -3px rgba(74,74,74,0.6);
            background-color: rgba(233, 233, 233, 0.522);
            font-weight: bold;
            cursor: pointer;
            border-radius: 20px;
           // xxx  height: 65px;
           // xxx line-height: 65px;
            margin-bottom: 25px;
            width: 100%;
            list-style: none;
            display: flex;
            transition: 0.3s ease-in-out;
             padding-top: 30px;
             padding-bottom: 30px;
             padding-right: 20px;
            /* Transitions event */
            &:hover {
                background: #9256dc2e;
            }
            &:hover .icon-fonction{
                // color: $color1;
                color: $color1;
            }

            /* Number */ 
            .number-fonction{
                // border: $border-debug;
                position: absolute;
                top: 30px;
                left:0px;
                left: -10px;
                border-radius: 20px; 
                line-height: 63px;
               //  border-radius: 900px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                width: 30px;
                height: 30px;
                color: #fff;
                font-weight: lighter;
                background-color:  $color1;
                ;
                span{
                    font-size: $fs-fonction-number;
                    
                    position: absolute;
                    top: -17px;
                    left: 9px;
                
                }
              
                
            }
            /* Icon */
            .icon-fonction{
               //  border: $border-debug;
                margin: 0 40px;
               .my_icon_size{
                   font-size: $fs-fonction-icon;
               }
            }
            .text-fonction {
                font-size: $fs-fonction-txt;
            }       
    }

    /* --------------------*/
    @media all and (min-width: 769px){
        display:flex;
        flex-direction: row;
       //  display: grid;
       //  grid-template-columns: 1fr 1fr 1fr;

    }    
    

} // end of menu 


}  // end of Functionalities

/* ----------------------------------------------------*/
/* Restaurant  section                                 */
/* ----------------------------------------------------*/


.restaurant{
    //   border: $border-debug;
    padding:0 30px;   // XXX added
      display: flex;
      flex-direction: column;
      background-color: rgb(233, 233, 233);
      //gap: 15px;
     padding-bottom: 70px;
  
      .title-restaurant{
       //   border: $border-debug;
         // XXXXX  width: 96%;
          padding:0;
         
          padding-top: 50px;
          padding-bottom: 20px;
         // xxx margin:auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 80px;
          
         h2 {
         //  border: $border-debug;
             font-size: $fs-restaurant-title;
             
         }
      }
  
      @media all and (min-width: 769px){
          .liste_restaurants{
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap:20px;
              .title-restaurant{
                  grid-column: span 2;
              }
  /*
              .card img{
                  object-position: 50%;
              }
  */
          }  
          .card {
            width:100%;
        }   

          /* 
          .card {
              width:96%;
          }   
          */
      }
  }
  
  .card{
      position: relative;
      border-radius: 20px;
      box-shadow: 1px 7px 15px -3px rgba(74,74,74,0.6);
      overflow: hidden;
      margin: 0 auto;
     // xxx width: 96%;
      transition: 0.2s ease-in-out;
  
     
      padding:0;
      margin:auto;
      margin-bottom:30px;
      &:hover{
          transform: scale(1.02);
      }
  
      .link-menu{
          text-decoration: none;
          //color: black;
      }
  
  }
  
  /* card image */ 
  .card{
  
      .card-img{
     
          height: 30vh;
          width: 100%;
          img{
              object-fit: cover;
             width: 100%;
             height: 100%
          }
      
          .nouveau-restaurant{
             //  border:$border-debug;
              font-size: $fs-restaurant-nouveau;
              font-weight: bolder;
              color: #2d806b;
              border-radius: 3px;
            //   text-align: center;
              display:flex;
              justify-content: center;
              align-items: center;
             //  line-height: 30px;
              position: absolute;
              width: 75px;
              height: 30px;
              top: 5%;
              right: 5%;
              background-color: #99E2D0;
            }
      }
  }
  
  
  /* card description  */ 
  .card{
      .card-description{
          display:flex;
          flex-direction: row;
          justify-content: space-between;
      //    border: $border-greendebug;
          background-color: white;
  
  
          .card-title {
              // height:10vh;
          // border: $border-greendebug;
              display: flex;
              flex-direction: column;
              padding: 10px 15px 15px 15px ;
             //  padding-left:15px;
              justify-content: center;
              margin:0;
              
            
              color: black;
  
              background-color: #fff;
          
              .card-name{
                  margin:0p;
                  margin-top:10px;
                  font-size:  $fs-restaurant-name;
                  font-weight: bolder;
                  margin-bottom:5px;
              }
              
              .card-location{
                  margin:0px;
                  margin-bottom:3px;
                  font-size:  $fs-restaurant-location;
              
              }
  
          }
          .heart {
            @include heart-OMF;
           }
          
      }
  }

@keyframes k-anim-heart-ee {
    from {
      opacity: 0;
      
    }
    to {
     
      opacity: 1;
      background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   font-weight: bold;

    }
  }
  @keyframes k-anim-heart {
    0%{
        opacity: 0.1;
        // font-weight: 400;
        // background-position: -20px;
        background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
     font-weight: bold;    }
    20%{
        opacity: 0.5;
       //  background-position: -10px;
       background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
    50%{
        opacity: 0.7;
       //  background-position: 0px;
       background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    font-weight: bold;
    }
    80%{
        opacity: 0.8;
      //   background-position: 10px;
      background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   font-weight: bold;
    }
    100%{
        opacity: 1;
    //  background-position: 20px;
    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 font-weight: bold;    
     }
}


/* ----------------------------------------------------*/
/* Footer                                              */
/* ----------------------------------------------------*/

footer {
    background-color: rgba(39, 39, 39, 0.9);
    display: flex;
    flex-direction: column;
    // height: 200px;
  }
 


.title-site_footer{
  //  border: $border-debug;
   //  width:100%;
    margin-left:20px; 
    margin-right:20px;
   //  margin:auto;
    margin-top:15px;
   
   img{
    // border: $border-debug;
    width: 30%;
    margin:auto;
   
    }
}


footer .svg-color {
  // fill: white;
   width: 100px;
  // stroke: white;
   
  }


.nav-footer{
  
   // width:96%;  xxxxx mettre un padding 
   // width:100%;
   margin-left:20px; 
    margin-right:20px;

    // margin:auto;
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        // gap: 8px;
        padding:0;
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: white;
          
            .foot-icon{
                padding-right: 10px;
                font-size: $fs-footer-icon;
              }

            &:hover {
               color: $color3;
               transform: scale (2);
              }

            .foot-txt{
                font-size: $fs-footer-txt;
            }  
          }
        
        @media all and (min-width: 769px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
  

      }

}


// ---------------------------------------------
//  Menu Restaurant : header   
// ---------------------------------------------
.menu_main{
    margin:auto;
}

 header div a {
     // margin-right:30px;
     position: absolute;
     top: 5%;
     left: 2%;
 }


 header div a i {
 font-size: $fs-menu-header-arrow; 
}

// ---------------------------------------------
//  Menu Restaurant : Image    
// ---------------------------------------------


.img-restaurant{
    height: 30vh;
    img{
        object-fit: cover;
        height:100%;
        width: 100%;
    }
} 

// ---------------------------------------------
//  Menu  Restaurant :  Section  
// ---------------------------------------------

.translation{
    transform: translateY(-35px);
}

.name-restaurant{
    height: auto;
    background-color: rgb(233, 233, 233);
    padding-top: 30px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
   //  margin-bottom: -35px;
 //  transform: translateY(-35px);
    padding-bottom: 35px;

    .title-menu{
        margin-left:20px; 
    margin-right:20px;
        display:flex;
        flex-direction: row;
         
        justify-content:space-between;
        align-items: center;
      //   margin-left: 20px;
        font-family: 'Shrikhand', sans-serif;

        .heart {
                // border:  $border-greendebug;
                @include heart-OMF;
            }


    }

    h2 {
        font-size: $fs-menu-restaurant-name;
        font-weight:600;;
    }


    h3{
    
      //   border: 1px solid red;
        margin-left:20px; 
        margin-right:20px;
        text-transform: uppercase;
        font-weight: lighter;
         font-size: $fs-menu-part;
        opacity: 0.5;
      //  padding-left: 15px;
      //   padding-top: 20px;
        // margin-left: 20px;
        
    }
}

/* ======================== */
/* Menu Restaurant : Card  */
/* ======================== */

.menu-restaurant{

.card-menu{
 //   border: 1px solid red;
   //  width:96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   //  flex:1 1 0;
   // flex:1 1 0;
      //  width: 95%;

      height: 70px;  
     // XXXXX 
    margin-left:20px; 
    margin-right:20px;
    margin-bottom: 20px;
   // margin: 20px auto;
   
    cursor: pointer;
    

    background-color: rgba(255, 255, 255, 0.823);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px #CDCDCD;

   
    overflow: hidden;
   

    /* Menu   Card : Text */
    /* =================== */

    .card-txt{
           // border: $border-reddebug;

            flex: 1 1 0 ;
            margin-left:10px;
            margin-top: 10px;;
            margin-bottom: 10px;;
            width: 60%;
           

            h6{
               
                margin:0;
                padding:0;
                font-size: $fs-menu-element-name;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                 white-space: nowrap;
                overflow: hidden;
            }
            p{
               
                margin:0;
                padding:0;
                font-size: $fs-menu-element-description;
                opacity:0.6;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              

            }
   }

    /* ===================== */
    /* Menu  Card Price */
    /* ===================== */

    .card-price{
        // border: $border-debug;
        width: 20%;
        height:100%;
        
        font-weight: bold;
        font-size: $fs-menu-element-price;
       // padding:10px;
      
        position: relative;

        .price_number{
         // border: $border-debug;

            position: absolute;
             bottom: 25%;
             right:  30%;
             font-weight: bold;
        }
    }

    /* ========================== */
    /* Menu  Card  : Coche  */
    /* ============================ */

    .coche{

       //  border: $border-greendebug;

        height: 100%;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-basis: 0;

        background-color:  $color3;
         overflow: hidden;
         transition: all ease 0.5s;

        .icon-coche{
            font-size: $fs-menu-element-icon-coche;
        }

        .coche-fill{
             color: white ;    
        }
    } // fin coche 

    /* ================== */
    /* Menu Card : Events */
    /* ================== */
    /*
    &:hover .card-txt{    
        width: 60%;
    }
    */

    &:hover .coche{
        opacity:1;
        flex-basis:20%;
    }

    &:hover .icon-coche{
          animation: 0.5s k-tour;
    }

}    // fin card menu 

@media all and (min-width: 769px){
/*
    display:grid;
    grid-template: 1fr 1fr 1fr;
*/
display: grid;
grid-template-columns: 1fr 1fr 1fr;
// gap:3%;
}


} // fin menu restaurant 



// ---------------------------------------------
//  Menu: commander  
// ---------------------------------------------


.btn-menu {
    display: block;
    @include btn-OMF;
    margin: 50px auto;
}

.underline {
    position: relative;
    //  border:$border-debug;
    .line{
        width: 50px;
        height: 7px;
        border-bottom: 4px solid $color3;
       
       //  border:$border-reddebug;
        }
}



.name-restaurant{
    h3{
      //  border:$border-debug;
      position: relative;
      &::before{
      //   border:$border-reddebug;
        position: absolute;
        content: "";
        background-color: $color3;
        width: 45px;
        height: 3px;
        bottom: -5px;
      }
    } 
  }

// ---------------------------------------------
//  Animation:  Menu 
// ---------------------------------------------

@keyframes k-tour {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}




@function  menuCarteDuration($num) {
    @return (($num % 3) + 1) ;
}
@function  menuCarteId($num) {
    @return ($num  + 1) ;
}



@mixin generate-anim-Menucartes($Menucartes) {
    @each $id, $delay in $Menucartes{
        .anim-carte-#{menuCarteId($id)}{
            animation:  k-anim-carte #{menuCarteDuration($id)}s   $delay ;
        }
    }
  }


  $Menucartes-id : (0,200ms), (1,200ms),(2,200ms),
                    (3,100ms), (4,100ms), (5,100ms) ,
                    (6,10ms) ,(7,10ms), (8,10ms);

@include generate-anim-Menucartes ($Menucartes-id);  
 


@keyframes k-anim-carte{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



// ---------------------------------------------
//  Animation:  Home page
// ---------------------------------------------

/*
.anim_page_main {
    animation: k-load_page_main 4s;
}
*/


.anim_main_load{
    animation: k-load 5s  ; 
        position:fixed;
        top:40%;
        left: 40%;
   // XXXXXX     transform: translate(-50%,-50%);
        opacity: 0;
        z-index: 111150;

        .main_load_spin{
                animation: k-spiner 5s  ;
                position: absolute;
                display: flex;
                //  top: 50%;
                //  left: 50%;
                width: 25vw;
                height: 25vh;
                border-radius: 12px 12px 12px 12px;
                background-color: $color3;

                align-items: center;
                justify-content: center;
                font-family: 'Shrikhand', sans-serif;
                font-size: $fs-anim-txt;
             
        
        }
}

/*
@keyframes k-load_page_main {
    0%,80%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
*/

@keyframes k-load {
    0%,80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes k-spiner {
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
     
        opacity: 0;
       
    }
}
