/* version v7 */ 

// Colors 
$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;


// Debuggins 
$border-debug: 1px solid blue;
$border-reddebug: 1px solid red;
$border-greendebug: 1px solid green;

// Font size 

$fs-search-map-marker: 18px;
$fs-search-input-txt: 16px;

$fs-form-title: 25px;
$fs-form-txt: 20px;

$fs-button-txt:  18px;

$fs-fonction-title: 23px; 
$fs-fonction-number: 20px;
$fs-fonction-icon: 22px;
$fs-fonction-txt: 16px;

$fs-restaurant-title: 23px; 
$fs-restaurant-location: 15px;
$fs-restaurant-name:20px;
$fs-restaurant-nouveau:16px;
$fs-restaurant-heart:25px;

$fs-footer-icon: 12px;
$fs-footer-txt: 15px;

$fs-anim-txt: 16px;

$fs-menu-header-arrow: 19px;
$fs-menu-restaurant-name: 25px;
$fs-menu-part: 17px;

$fs-menu-element-name: 18px;
$fs-menu-element-description: 14px;
$fs-menu-element-price: 14px;
$fs-menu-element-icon-coche: 22px;
